
.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to bottom, var(--bg-primary) 20%,rgba(0, 0, 0, 0) 100%);
    /* background: radial-gradient(ellipse at 50% 100%, rgba(138, 92, 246, 0.3) 20%, transparent 60%); */
    position: fixed;
    top: 0;
    left: 0;
    padding: 26px;
    width: 100vw;
    z-index: 1001;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        transition-duration: 0.1s;
        &:hover {
                transform: scale(1.1);
            }
    }
    .logo {
        color: var(--accent);
        font-size: 1.4rem;
        font-weight: bolder ;
    }
    ul {
        display: flex;
        column-gap: 64px;
        color: var(--text-secondary);
        font-size: 1.1rem;
    }
    li {
    transition-duration: 0.1s;
        &:hover {
            transform: scale(1.1);
            color: var(--text-primary);
        }
    }
    
}

.btn {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: var(--accent);
    color: white;
    transition-duration: 0.2s;
    &:hover {
        transform: scale(1.1);
    }
}

.info-card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}


.info-card {
    min-height: 400px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16px;
    background-color: var(--bg-card);
    border-radius: 1rem;
    border: var(--border) 2px solid;
    transition-duration: 0.3s;
    &:hover {
        border-color: var(--accent);
        transform: scale(1.02);
    }
    i {
        font-size: 4rem;
        text-align: center;
    }
    h2 {
        font-size: 1.7rem;
        text-align: center;
    }
}

.intro-text {
    max-width: 700px;
    text-align: center;
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.2rem;
    }
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    div {
        width: 200px;
        text-align: center;
        h3 {
            color: var(--accent);
            font-size: 4rem;
            font-weight: bolder;
        }
        p {
            color: var(--text-secondary);
            font-size: 1rem;

        }
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 12px;
    width: 100vw;
    p {
        font-size: 1rem;
    }
    a {
        color: var(--accent);
    }  
}



@media (max-width: 800px) {
    .container {
      max-width: 95%;
    }
}